*.swp
*.def
*.DEF
*.mod
*.MOD
*.sav
*.SAV
debug
ds-docs
go-cookbook/
multimap_*
.idea/
fyne.io/
examples/
github.com/
github.com/kisielk/
github.com/mitchellh/
github.com/mvdan/
github.com/zmb3/
cloud.google.com/
github.com/therecipe/
go.opencensus.io
golang.org/
gopkg.in/

